services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - DATABASE__HOSTNAME=${DATABASE__HOSTNAME}
      - DATABASE__DB=${DATABASE__DB}
      - DATABASE__USERNAME=${DATABASE__USERNAME}
      - DATABASE__PASSWORD=${DATABASE__PASSWORD}
    depends_on:
      - postgres_db
  postgres_db:
    restart: unless-stopped
    image: postgres:17
    volumes:
      - postgres_db:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${DATABASE__DB}
      - POSTGRES_USER=${DATABASE__USERNAME}
      - POSTGRES_PASSWORD=${DATABASE__PASSWORD}
    env_file:
      - .env
    ports:
      - "${DATABASE__PORT}:5432"

volumes:
  postgres_db: